<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Tom Meeson - Developer</title>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>

        <nav class='navbar navbar-expaned-md navbar-dark fixed-top'>
            <a href="/" class="navbar-brand">Tom Meeson</a>

            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navCollapseItems" aria-controls="navCollapseItems"
            aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse collapse" id="navCollapseItems">

                <ul class="navbar-nav mr-auto">

                    <li class="navbar-item active">Home</li>

                </ul>

            </div>

        </nav>
